/* основной белый цвет #ffffff */
/* вторичный белый цвет #F5F4FA */
/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* основной акцент цвет #2196F3 */
/* цвет ховера основной кнопки #188CE8 */
/* цвет фона героя и подвала #2F303A */
/* цвет текста адреса rgba(255, 255, 255, 0.6) */
/* цвет логотипа #000000 */
:root {
  --primery-white-color: #ffffff;
  --secondary-white-color: #f5f4fa;
  --primery-text-color: #757575;
  --secondary-text-color: #212121;
  --prymery-accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --background-color: #2f303a;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Тело */
body {
  color: var(--primery-text-color);
  background-color: var(--primery-white-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}
/* Скрытый титул */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* контейнер */
.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
/* панель навигации */
.header-conteiner,
.nav,
.site-nav,
.contacts {
  display: flex;
  align-items: center;
}
.nav .logo {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
}
.contacts .link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.contacts .item + .item {
  margin-left: 50px;
}
.contacts {
  margin-left: auto;
}
.site-nav {
  margin-left: 93px;
}
/* цвета, размеры текста */
.site-nav .link.current {
  color: var(--prymery-accent-color);
}
.filter .button.current {
  background-color: var(--prymery-accent-color);
  color: var(--primery-white-color);
}
.logo.link {
  color: var(--prymery-accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo .logo-header {
  color: var(--logo-color);
}
.site-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .link {
  color: var(--primery-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
/* Ховер и фокус ссылок */
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus,
.address .link:hover,
.address .link:focus {
  color: var(--prymery-accent-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Секция Герой */
.hero {
  background-color: var(--background-color);
}
.hero-title {
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
}
.main.button {
  background-color: var(--prymery-accent-color);
  color: var(--primery-white-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
}
.main.button:hover,
.main.button:focus {
  background-color: var(--secondary-accent-color);
}
/*особенности компании*/
.title {
  color: var(--secondary-text-color);
}
.section.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.features.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features.text {
  font-size: 14px;
  line-height: 1.71;
}
/* Наша команда */
.our-team {
  background-color: var(--secondary-white-color);
}
.our-team.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.position {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/* Фильтр портфолио */
.button {
  font-family: inherit;
  background-color: var(--secondary-white-color);
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}
.button:hover,
.button:focus {
  background-color: var(--prymery-accent-color);
  color: var(--primery-white-color);
}
/* Секция портфолио */
.project.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project.type {
  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.87;
}
/* Подвал сайта */
.footer {
  background-color: var(--background-color);
}
.logo .logo-footer {
  color: var(--primery-white-color);
}
.geolocation.link {
  color: var(--primery-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.footer-contacts.link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--address-text-color);
}
